/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2019, 12:04:13 AM
    Author     : akram
*/
.product-entry .product-title{
    min-height: 150px;
}
.max-img-width{
    max-width: 120px;
}
.img-max{
    height: 100px;
}
.job-menu img{
    max-width: 560px;
    height: 70px;
}
.color-red{
    color: #ff4200
}
.color-white{
    color: #fff;
    text-align: center;
}
.text-center{
    text-align: center;
}
.category-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coupon-details-mt{
    margin-top: 0px;
}
h1.coupon-details-title{
    font-size: 25px;
}
.product-title{
    padding-left: 0px;
}
.product-image{
    margin-top: 10px;
    margin-left: 10px;
}
.product-wrapper{
    background: #fff;
}
.product-details{
    height: 165px;
    overflow: hidden;
}
.product-view-btn{
    text-align: center;
}
.pagination > .active > a{
    background: #e03c03;
    border: 1px solid #e03c03;
}
.pagination > li > a{
    color: #777;
}
.form-inline .search{
    padding: 0px 5px 0px 5px;
    height: 32px;
}
.form-inline button{
    background: #ff4200;
    color: #fff;
    border:1px solid #fff;
}
.category-wrapper .category-name{
    line-height: normal;
}
.product-img{
    width: 360px;height: 266px;
}
.p-title{
    min-height: 120px;
}
.p-img{
    height: 300px;
    overflow: hidden;
}
ul.filter-store{
    margin: 0px 0px 0px 2px;
    padding: 0px;
    height: 395px;
    overflow: auto;
}
ul.filter-store:hover{
    overflow: auto;
}
ul.filter-store li{
    list-style: none;
}
.btn-search{
    margin: 15px;
}
.form-control{
    height: auto;
}
.store-img{
    border: 1px solid #ccc;
    max-height: 100px;
    max-width: 170px;
}
@media (max-width: 360px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
    .pad-left-10{
        padding-left: 25px;
    }
}

@media (max-width: 480px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
    .pad-left-10{
        padding-left: 25px;
    }
}
@media (max-width: 767px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
    .pad-left-10{
        padding-left: 25px;
    }
}

@media (max-width: 640px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
    .pad-left-10{
        padding-left: 25px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
}

@media (min-width: 980px) {
    .job-menu img{
        max-width: 100%;
        height: 70px;
    }
}